{% extends "base.html" %}

{% block content %}

<div class="text-center mt-5">

    <h1 class="display-4 fw-bold">
        BudgetBuddy
    </h1>

    <p class="lead mt-3">
        Track income, expenses,
        and spending habits
        in one simple dashboard.
    </p>

    <div class="mt-4">

        <a
            href="/register"
            class="btn btn-success btn-lg me-2"
        >
            Get Started
        </a>

        <a
            href="/login"
            class="btn btn-outline-primary btn-lg"
        >
            Login
        </a>

    </div>

</div>

{% endblock %}